body {
    display: block;
    font-family: roboto, sans-serif !important;
    background-image: linear-gradient(to right, #ffffff , #d8d8d8);
}

.row-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-weight: 500;
    font-size: 25px;
}

.hero-h1 {
    font-weight: 300;
    font-size: 30px;
}

.underline {
    text-decoration: none;
}


.hero-h2 {
    text-align: right;
    font-weight: 100;
    padding-bottom: 66px;
    font-size: 25px;
    color: rgb(115, 115, 115);

}

.hero-buttons{
    gap: 55px;
    display: flex;
    font-size: 25px;
    font-weight: 400;
}

.kontakt{
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.p-text {
    font-weight: 300;
}

.p-text-co {
    font-weight: 300;
    font-size: 15px;
    color: #474747;
}

.sections{
    font-weight: 400;
    font-size: 30px;
}

.cist-dal {
    color: #000000;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 40px 40px 0px 40px;
}

.card-content{
    padding: 10px;
}

.card-p{
    font-size: 15px;
    color: #3b3b3b;
    font-weight: 300;
    
}

.card-h6{
    font-weight: 400;
    font-size: 17px;
}

.card-background{
    background-color: #ffffff;
    padding-top: 15px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.card-gap{
    gap: 85px;
}

.sections-card{
    font-weight: 400;
    font-size: 25px !important;
}

.nav-links{
    color: #000000 !important;
}